@model IEnumerable<Boiler.DTOs.Result>
@using Boiler.Controllers;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        @if (ViewData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["error"] Please consider <a asp-controller="AddBalance" asp-action="Index">add balance</a>.
            </div>
        }
        @if (ViewData["success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["success"]
            </div>
        }
        <div class="text-center">
                <h1 class="display-4">
                    Welcome
                </h1>
        </div>
        <form asp-controller="Home" asp-action="Index" method="get" class="justify-content-center row g-3 mb-3">
            <div class="col-auto">
                <input type="text" class="form-control" name="search" placeholder="Search Game">
            </div>
            <div class="col-auto">
                <button type="submit" value="search" class="btn btn-primary">Search</button>
            </div>
        </form>
        
        <section>
            <div class="row">
                @foreach(var item in Model){
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-tittle">@item.Name</h5>
                            </div>
                            <div class="card-body">
                                
                                <p class="card-text">by: @item.Creator</p>
                                
                                @if (item.Categories != null) {
                                    <form asp-controller="Home" asp-action="Index" method="get">
                                    @foreach(var category in item.Categories){
                                        <button type="submit" name="search" value="@category" class="btn btn-primary my-1">@category</button>
                                    }
                                    </form>
                                }
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <label class="card-text">@item.Price$</label>
                                <form asp-controller="Home" asp-action="Index" method="post">
                                    @switch (item.Relation){
                                    case 0:
                                        <button type="submit" name="UnWish" value="@item.Id" class="btn btn-danger my-1">UnWish</button>
                                        <button type="submit" name="Buy" value="@item.Id" class="btn btn-primary my-1">Buy</button>
                                        break;
                                    case 1:
                                        <label class="card-text">You own this game.</label>
                                        break;
                                    case 2:
                                        <label class="card-text">You published this game.</label>
                                        break;
                                    case null:
                                        <button type="submit" name="Wish" value="@item.Id" class="btn btn-primary my-1">Wish</button>
                                        <button type="submit" name="Buy" value="@item.Id" class="btn btn-primary my-1">Buy</button>
                                        break;
                                    }
                                </form>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </body>
</html>
